[project]
	description = "Please submit your patches to https://review.gerrithub.io/#/q/project:samirjorina/monasca-agents-installer"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/haruki-yamanashi
[access "refs/for/refs/*"]
	read = group user/haruki-yamanashi
	push = group user/haruki-yamanashi
	label-Code-Review = -2..+2 group user/haruki-yamanashi
	label-Verified = -1..+1 group user/haruki-yamanashi
	rebase = group user/haruki-yamanashi
	removeReviewer = group user/haruki-yamanashi
	submit = group user/haruki-yamanashi
[access "refs/heads/*"]
	read = group user/haruki-yamanashi
	create = group user/haruki-yamanashi
	push = +force group user/haruki-yamanashi
	pushMerge = group user/haruki-yamanashi
[access "refs/tags/*"]
	push = group user/haruki-yamanashi
	push = +force group user/haruki-yamanashi
